@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
main {
  max-width: 80%;
  margin: 2em auto;
}
nav {
  margin-bottom: 4em;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 3em;
  margin: 0 2em;
  font-weight: 300;
  place-items: center;
}
nav ul li:first-child {
  flex-grow: 1;
  font-weight: bold;
  font-size: 24px;
}
nav ul li a{
    color: initial;
    text-decoration: none;
    cursor: pointer;
}
nav ul li a:hover{
    color: #777;
}
img.avatar {
  max-width: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
h1,
h2 {
  max-width: 770px;
  font-size: 24px;
  line-height: 120%;
  margin: 1em auto;
  text-align: center;
}
h2 {
  font-size: 20px;
  font-weight: 300;
}
section ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  max-width: 800px;
  margin: 5em auto;
}
section li {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
section li img {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
section li h3 {
  padding: 1em;
}

/* Modal */
.emModal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modalContent div {
  width: 100%;
  display: grid;
  place-items: center;
}
.modalContent iframe {
  pointer-events: none;
}
.modalContent {
  position: relative;
  margin: 3% auto;
  background-color: #fff;
  width: 50%;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
  padding: 1em 2em;
  border-radius: 10px;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.modalContent .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all 0.2s;
}
.modalContent .close:hover,
.modalContent .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}


#mobiVer {
  display: block;
  margin: 1em 0 0;
  border-bottom: 1px solid #000;
  width: max-content;
  cursor: pointer;
}

@media (max-width: 700px) {
 nav ul li{
     text-align: center;
 }
  nav ul li:not(:first-child) {
    display: none;
  }
  h1{
      font-size: 4.5vw;
  }
  h2{
      font-size: 4vw;
  }
  section ul{
    grid-template-columns: 1fr;
  }
  .modalContent{
      width: 80%;
      margin: 10% auto;
      -webkit-overflow-scrolling: touch;
  }
  .modalContent iframe{
      width: 100%;
      height: 80vh;
  }
  #mobiVer{
      display: none;
  }
}
